.container
	.row
		.col-md-4.col-md-offset-2.col-xs-8.col-xs-offset-1
			%h3 New Submission
			= simple_form_for @submission do |s|
				= s.input :description, as: :text
				= s.input :category, as: :string
				= s.input :email, as: :email

				= s.button :submit